coverage
pytest
pytest-aiohttp
pytest-asyncio
pytest-cov
pytest-coverage
pytest-datafiles
autoflake
black
pylint
pylint-exit
bandit
certifi
flake8
flake8-polyfill
isort
lazy-object-proxy
mccabe
mypy
mypy-extensions
pre-commit
py
pycodestyle
pyflakes
pyparsing
safety
types-requests
typing-extensions
interrogate
